**/target/*
**/out/*

**/bin/**
**/.settings/**

caches
/caches/

daemon
daemon/

wrapper
/wrapper/

.gradle
/.gradle/

build/
/build/

${buildDir}
/${buildDir}

.idea
/.idea/
*.iws
*impl
*.ipr

*.log

/LOGS/
**/logs/
**/reports/
**/work
*.sc
*.class
*.zip

/activemq-data/

native/
/native/

.DS_Storeworkspace
.project
.classpath
